@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, lemonade;
}

h1, h2 {
    font-family: "Domine", serif;
}
h3 {
    font-weight: 600;
    font-size: 18px;
}

.fancy {
    font-family: "Domine", serif;
}
.mono {
    font-family: "Geist Mono", monospace;
}

a {
    font-weight: 300;
}

html, body {
    font-family: "Geist", sans-serif;
    font-weight: 300;
}